<div class="row hidden-xs">
    <div class="col-sm-12 text-center h4">
        <fa [name]="'calendar'"></fa> {{week.startDate | date:'d MMM'}} to {{week.endDate | date:'d MMM yy'}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs"><fa [name]="'film'" [size]=5></fa></div>
            <div class="caption">
                <div>
                    <h3>LECTURE(S)</h3>
                    <div class="list-group">
                        <div *ngFor="let lecture of ((lecturesObservable | async)?.lectures | lectureType: 'main')" class="list-group-item">
                            <!--a href="{{lecture.url}}" target="_blank" *ngFor="let lecture of ((lecturesObservable | async)?.lectures)" class="list-group-item"-->
                            <a href="https://www.weblearn.ox.ac.uk{{lecture.url}}" target="_blank" >
                            <!--a href="{{lecture.url}}" target="_blank" *ngFor="let lecture of (week.lectures)" class="list-group-item"-->
                            <!--ref="{{lecture?.url}}" target="_blank" *ngFor="let lecture of (week?.lectures | lectureType: 'main')" class="list-group-item"-->
                                <h4 class="list-group-item-heading"><fa [name]="'video-camera'"></fa> {{lecture.name}}</h4>
                                <p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter"></p>
                                <strong><p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter: 'lecturer'"></p></strong>
                            </a>
                            <accordion [closeOthers]="true">
                                <accordion-group *ngIf="lecture.learningOutcomes" heading="Learning objectives">
                                    <div class="learning-objectives" [innerHTML]="lecture.learningOutcomes"></div>
                                </accordion-group>
                                <accordion-group *ngIf="lecture.resources" heading="Resources">
                                    <ul class="list-group">
                                        <li *ngFor="let resource of (lecture.resources)" class="list-group-item resources-list">
                                            <a href="{{resource.url}}" target="_blank" >
                                                <fa *ngIf="resource.fileType === 'reading'" [name]="'book'"></fa>
                                                <fa *ngIf="resource.fileType === 'pdf'" [name]="'file-pdf-o'"></fa>
                                                <fa *ngIf="resource.fileType === 'xls'" [name]="'file-excel-o'"></fa>
                                                <fa *ngIf="resource.fileType === 'doc'" [name]="'file-word-o'"></fa>
                                                <fa *ngIf="resource.fileType === 'file'" [name]="'file-o'"></fa>
                                                {{resource.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs"><fa [name]="'users'" [size]=5></fa></div>
            <div class="caption">
                <div>
                    <h3>SEMINAR</h3>
                    <div class="list-group">
                        <div *ngFor="let seminar of ((lecturesObservable | async)?.seminars)" class="list-group-item">
                            <!--a href="{{lecture.url}}" target="_blank" *ngFor="let lecture of ((lecturesObservable | async)?.lectures)" class="list-group-item"-->
                            <a href="https://www.weblearn.ox.ac.uk{{seminar.url}}" target="_blank" >
                                <h4 class="list-group-item-heading"><fa [name]="'sign-in'"></fa> Seminar</h4>
                                <p class="list-group-item-text" [innerHTML]="seminar.description | descriptionFormatter"></p>
                                <strong><p class="list-group-item-text" [innerHTML]="seminar.description | descriptionFormatter: 'lecturer'"></p></strong>
                            </a>
                            <accordion [closeOthers]="true">
                                <accordion-group *ngIf="seminar.learningOutcomes" heading="Learning objectives">
                                    <div class="learning-objectives" [innerHTML]="seminar.learningOutcomes"></div>
                                </accordion-group>
                                <accordion-group *ngIf="seminar.resources" heading="Resources">
                                    <ul class="list-group">
                                        <li *ngFor="let resource of (seminar.resources)" class="list-group-item resources-list">
                                            <a href="{{resource.url}}" target="_blank" >
                                                <fa *ngIf="resource.fileType === 'reading'" [name]="'book'"></fa>
                                                <fa *ngIf="resource.fileType === 'pdf'" [name]="'file-pdf-o'"></fa>
                                                <fa *ngIf="resource.fileType === 'xls'" [name]="'file-excel-o'"></fa>
                                                <fa *ngIf="resource.fileType === 'doc'" [name]="'file-word-o'"></fa>
                                                <fa *ngIf="resource.fileType === 'file'" [name]="'file-o'"></fa>
                                                {{resource.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="image hidden-xs"><fa [name]="'forward'" [size]=5></fa></div>
            <div class="caption">
                <div>
                    <h3>SUPPLEMENTARY</h3>
                    <modyule-resource-component [modyule]="week.modyule"></modyule-resource-component>
                </div>
            </div>
        </div>
    </div>
</div>
